.snippet {
  /*display: inline-block;*/
  padding: 10px;
  margin: 20px 0 ;
}
body {
  font-family: Roboto;
}
a {
  font-weight: 400;
}
code {
  font-family: Roboto;
  /*font-family: 'Source Code Pro';*/
  /*font-size: 14px;*/
  /*font-weight: 400;*/
}

code em {
  font-style: normal;
  font-weight: 500;
  /*font-size: 14px;*/
}
.mdl-textfield {
  margin: 0 15px;
}

#snippets {
  max-width: 800px;
  margin: 0 auto;
}
.mdl-textfield {
  width: initial;
}
#search {
  width: 660px;
  margin: 20px auto;
}

.left {
  margin-right: 30px;
  display: inline-block;
  width: 500px;
}

.right {
  vertical-align: text-bottom;
  width: 200px;
  display: inline-block;
}