.snippet {
  /*display: inline-block;*/
  padding: 10px;
  margin: 20px 0 ;
}
body {
  font-family: Roboto;
}
a {
  font-weight: 400;
}
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #f7f7f9;
  padding: 2px 4px;
  border: 1px solid #e1e1e8;
  font-size: 13px;
  border-radius: 3px;
  /*font-weight: 400;*/
}

code em {
  font-style: normal;
  font-weight: 600;
  /*font-size: 14px;*/
}

code em + code em {
  margin-right: 2px;
}
.mdl-textfield {
  margin: 0 15px;
}

#snippets {
  max-width: 800px;
  margin: 0 auto;
}
.mdl-textfield {
  width: initial;
}

#search {
  margin-top: 10px;
}
.left {
  margin-right: 30px;

  display: inline-block;
  width: 550px;
}

.right {
  vertical-align: text-bottom;
  width: 180px;
  display: inline-block;
}